
h1{
  
  t: center;
  :red;
  
}


input{
  background-color:red;
  border:blue;
}
body{ background-image:url("/storage/emulated/0/.yuetu_unlock/PictureUnlock_Momagic_270513_user0.pictureunlock.jpg");
  
}